<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>mainPage</title>
<script src="/lib/jquery/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(function(){
		$.ajax({
			type:"GET",
			url:"/api/board",
			contentType:"application/json",
			success: function(response) {
				var tbody = $("#tbody_test");
				var list = response.list;
				for(var i = 0; i < list.length; i++) {
					var item = list[i];
					var row = "<tr>" +
							  	"<td>" + item.bd_no + "</td>" +
							  	"<td>" + item.bd_name + "</td>" +
							  	"<td>" + item.ur_name + "</td>" +
							  	"<td>" + item.bd_reg_date + "</td>" +
							  	"<td>" + item.bd_hit + "</td>" +
							  "</tr>";
					tbody.append(row);
				}
			},
			error: function(error) {
				alert("네트워크 오류");
			}
		});
	});
	/*]]>*/
</script>
</head>
<body>
	<table>
	<thead>
		<tr>
        	<th>번호</th>
        	<th>내용</th>
        	<th>작성자</th>
        	<th>작성일</th>
        	<th>조회수</th>
        </tr>
	</thead>
	<tbody id="tbody_test">
    	
    </tbody>
    <tfoot>
       	<tr>
       		<td>테스트 1 이다.</td>
       		<td>테스트 2 이다.</td>
       	</tr>
    </tfoot>
    </table>
</body>
</html>